<ion-header>
  <ion-toolbar class="header">
    <ion-title class="centro">Preguntar Frecuentes</ion-title>
    <ion-buttons>
      <ion-back-button slot="start"class="color"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <app-accordion title="¿Cómo hago mi inscripción?">
    <p class="negro">
      Es muy sencillo, solo debes elegir el plan que mas te convenga y puedes realizar tu inscripción en nuestra aplicacion móvil o en la recepción de la unidad de tu preferencia llevando una identificación oficial y la tarjeta de débito o crédito que desees registrar.
    </p>
  </app-accordion>
 
  <app-accordion title="¿Qué costo tienen los planes?"  >
    <p class="negro">
      Los costos y toda la información sobre nuestras sucursales y planes la podrás consultar en nuestra sección de pagos en la aplicacion. Recuerda que los precios pueden variar entre sucursales.
    </p>
  </app-accordion>
  
  <app-accordion title="¿En qué consiste el Plan Mamado?">
    <p class="negro">
      Con el Pase Mamado tendrás derecho al uso de todos los equipos. También contamos con regaderas, baños, casilleros, asesoría de los entrenadores.
    </p>
  </app-accordion>
  
  <app-accordion title="¿En qué consiste el Plan Mamadisimo?">
    <p class="negro">
      El Pase Mamadisimo es un plan completo, que consiste en pagar 1 año, a un precio especial. Además de contar con los beneficios del Pase Mamado, también podrás realizar ejercicio en cualquiera de nuestras sucursales y un descuento de 50% en nutriología, donde te daremos dietas, para que puedas alcanzar tus objetivos.     
    </p>
  </app-accordion>
 
  <app-accordion title="¿Desde qué edad puedo inscribirme?  ">
    <p class="negro">
      Si tienes 14 años cumplidos, será necesario que el padre o tutor firme una carta responsiva y presentar una copia de tu acta de nacimiento y CURP para el proceso de inscripción. El titular de la tarjeta a registrar como método de pago debe presentar una identificación con fotografía y la tarjeta.    </p>
  </app-accordion>
</ion-content>
