
.header{
    --background: #05061d;
}
.color{
    color: white;
    
}
.centro{
    color: white;
    text-align: center;
}
.centrar{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
}
.negro{
    color: black;
}