<ion-header>
  <ion-toolbar class="header">
    <ion-title class="centro">Terminos y Condiciones</ion-title>
    <ion-buttons>
      <ion-back-button class="color"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<p class="centrar">Reglamento de uso de las instalaciones</p>
<b>1) Uso de las Instalaciones</b>
<div > 
  <p>a) El acceso a las instalaciones se hará sin excepción, mediante registro de huella digital de los usuarios en los torniquetes de entrada.</p>
  <p>b) En caso de tratarse de usuarios del pase Mamadisimo que se presenten en otra unidad, deberán utilizar una tarjeta para registrar su acceso.</p>
  <p>c) Los usuarios de Pase Mamadisimo deberán presentar de manera adiciona sus datos de RFC, CURP, correo y/o matricula.</p>
  <p>d) Todos los usuarios deberán portar ropa y calzado deportivo adecuado para la práctica de actividades físicas, motivo por el cual no se permite estar sin camisa dentro de las instalaciones o con vestimenta distinta a la señalada.</p>
  <p>e) Al terminar la actividad física el usuario deberá devolver el equipo utilizado a su lugar y limpiar su área de entrenamiento, así como aparatos utilizados antes de retirarse.</p>
  <p>f) Las mancuernas y discos deberán permanecer dentro del piso ahulado de la zona de peso libre en todo momento.</p>
  <p>g) Está prohibido azotar, arrojar y dar uso inadecuado a los equipos, accesorios y/o instalaciones. En caso de ocasionar daño a los equipos por uso indebido, la reparación o reposición de los mismos deberá ser cubierta por el usuario en su totalidad, con independencia a las medidas determinadas por Forty-Five GYM.</p>
  <p>h) No se permite comercializar ni ofrecer ningún tipo de producto o servicio dentro de las instalaciones de Forty-Five-GYM.</p>
  <p>i) Está prohibido hacer uso de las instalaciones del gimnasio para repartir volantes, folletos, piezas promocionales, cupones, demostración de mercancías y cualquier tipo de actividad lucrativa o publicidad personal, colectas o donativos para cualquier causa, salvo que medie autorización por escrito por parte del Corporativo de Forty-Five-GYM</p>
  <p>j) Los usuarios deberán conducirse de manera respetuosa hacia el Staff de la unidad, usuarios e invitados, motivo por el cual se prohíben los gritos, uso de palabras altisonantes, así como cualquier agresión física o verbal dentro de las instalaciones.</p>
  <p>k) No está permitido ingerir alimentos en ninguna de las áreas de entrenamiento ni instalaciones del gimnasio.</p>
  <p>l) Los equipos deberán ser alternados entre los usuarios, especialmente en las horas de mayor afluencia evitando permanecer sentado en los mismos sin utilizarlos y no exceder de 30 minutos por cada equipo utilizado.</p>
  <p>m) No se permite el ingreso de mascotas a las instalaciones ni dejarlas en el área de recepción mientras se realizan las actividades físicas.</p>
  <p>n) En caso de que la afluencia de la unidad lo requiera, registrarse y respetar las listas de espera para cabinas o aparatos de acuerdo a las indicaciones del líder de la unidad.</p>
  <p>o) No se permite dejar objetos personales en las áreas de entrenamiento, cabinas o muebles del gimnasio; ya que en caso de extravío SMART FIT no será responsable por los mismos.</p>
  </div>
  <div>
    <b>2) Seguridad</b>
    <p>a) Está prohibido fumar o ingerir cualquier tipo de bebidas alcohólicas, drogas, estupefacientes o cualquier enervante dentro de las instalaciones.</p>
    <p>b) Se negará el acceso a usuarios que pretendan ingresar a las instalaciones con aliento alcohólico o que se presuma se encuentran bajo la influencia de drogas.</p>
    <p>c) Ningún usuario podrá ingresar a las instalaciones portando armas u objetos punzocortantes.</p>
    <p>d) Queda prohibido filmar o fotografiar con cámara o dispositivo, móvil o electrónico dentro de los vestidores, sanitarios, regaderas de Forty-Five-GYM</p>
    <p>e) En el resto de LAS INSTALACIONES de SMART FIT, queda parcialmente permitido al usuario tomar fotografías a sí mismo, siempre y cuando no sean fotografiados otros usuarios, personal de Forty-Five-GYM o marcas publicitadas; motivo por el cual el usuario deslinda a SMART FIT de cualquier violación a esta regla.</p>
    <p>f) Se prohíbe realizar actividades fuera de las actividades físicas propias del gimnasio que puedan dañar o poner en peligro a los usuarios y/o personal de Forty-Five-GYM, tales como correr, jugar entre usuarios o con los equipos.</p>
    <p>g) El uso de teléfono celular deberá hacerse sólo en el modo silencio/vibratorio y queda bajo responsabilidad del usuario el resguardo del mismo en las cajas de seguridad que ponemos a su disposición para tal fin.</p>
    <p>h) Forty-Five-GYM pone a su disposición cajas de seguridad durante la estancia por cada visita a las instalaciones, motivo por el cual objetos de valor como dispositivos móviles, aparatos electrónicos, carteras, joyas, dinero en efectivo, etc.…, deberán ser depositados en las cajas de seguridad; en caso contrario, quedará a entera responsabilidad del usuario su resguardo.</p>
    <p>i) El usuario tendrá a su disposición el uso de casilleros, debiendo utilizar en todo momento un candado de seguridad tamaño mínimo 50 x 400mm, de forma cilíndrica y de llave (no combinación) para resguardo de sus pertenencias.</p>
    <p>j) Los usuarios deberán retirar sus pertenencias de los casilleros y cajas de seguridad antes del cierre de la unidad, toda vez que estas serán abiertas para limpieza. Forty-Five GYM resguardará los objetos por periodo de un mes, periodo en el cual seremos responsables de dichos bienes.</p>
    <p>k) Todos los usuarios firmarán una responsiva en la cual manifiestan que su estado de salud es óptimo para realizar actividades físicas, eximiendo a SMART FIT de cualquier responsabilidad derivada de dicha manifestación en caso de ser falsa, asimismo, deberán realizar por su cuenta, de manera periódica las evaluaciones médicas necesarias para verificar que su salud se mantenga en buen estado.</p>
  </div>
  <div>
    <b>3) Higiene</b>
    <p>a) Por motivos del covid 19, Forty-Five GYM, no permitirá el acceso a personas que no cuenten con su cubrebocas en todo momento puesto de la forma correcta, y que además cuenten con sus guantes.</p>
    <p>b) Evitar todo tipo de contacto con 3eras personas para poder prevenir contagios.</p>
    <p>c) Queda estrictamente prohibido el uso o desecho de jeringas en cualquier área del gimnasio, asi como suministrar de manera oral o inyectar a otros usuarios, en caso de necesitar aplicarse alguna sustancia por indicaciones médicas deberá suministrarse de manera previa al ingreso a las instalaciones.</p>
    <p>d) Los lavabos son de uso exclusivo para aseo de las manos y rasurado facial en caso de los hombres, queda prohibido depilarse o lavarse el cabello o distintas partes del cuerpo en ellos.</p>
    <p>e) Sin excepción alguna el uso de las regaderas, cabinas de bronceado y cabinas de colágeno será individual.</p>
    <p>f) Será obligación del usuario procurar buenas prácticas de higiene dentro de las instalaciones.</p>
    <p>g) Será obligación del usuario utilizar una toalla limpia al realizar sus actividades físicas para limpiar el sudor en los aparatos.</p>
  </div>
  <div>
    <b>4) Menores de Edad</b>
    <p>a) Los menores de edad a partir de 14 años podrán hacer uso de las instalaciones, presentando copia simple su acta de nacimiento o CURP al momento de inscribirse y hacerlo en compañía de un padre o tutor quien firmará el contrato y reglamento de dicho menor, obligándose al cumplimiento de todos los términos y condiciones de dichos documentos.</p>
  </div>
  <div>
    <b>5) Horarios</b>
    <p>a) Los horarios y días hábiles corresponderán a la unidad contratada y podrán consultarse en la página de Facebook de nuestras sucursales</p>
    <p>b) Forty-Five GYM podrá cerrar la unidad o modificar el horario por algún trabajo de reparación o remodelación o por alguna necesidad operativa en las instalaciones, notificando a los usuarios por medio de comunicados en recepción y redes sociales.</p>
    <p>c) El proceso de cierre de la unidad comenzará 30 minutos antes de la hora de cierre, reduciendo el número de luces encendidas y disminuyendo el volumen de la música. Diez minutos antes de cierre se restringe el acceso a las regaderas y cinco minutos antes se acciona la alarma, los usuarios deberán atender a este procedimiento sin excepción alguna y será su responsabilidad atender las indicaciones del staff y de este procedimiento programando su salida y retirándose de la unidad sin retrasar la hora de cierre.</p>
  </div>
  <div>
    <b>6) Entrenadores</b>
    <p>a) Forty-Five GYM ofrece el servicio de profesores de acondicionamiento Físico de manera gratuita, ellos son quienes determinaran el tiempo para la siguiente asesoría de entrenamiento.</p>
    <p>b) Es responsabilidad del usuario solicitar ayuda con un instructor si no está familiarizado con los equipos y accesorios para entrenar, deslindando expresamente el usuario a personal de Forty-Five GYM por el desconocimiento o falta de pericia en el manejo de los aparatos ubicados en las instalaciones.</p>
    <p>c) Queda estrictamente prohibido para todos los usuarios brindar el servicio de entrenamientos personales o cualquier instrucción de entrenamiento a cualquier usuario o visitante dentro de las instalaciones, el incumplimiento de lo antes señalado será motivo de cancelación inmediata de su contrato sin responsabilidad alguna para Forty-Five GYM.</p>
    <p>d) Si algún usuario requiere de entrenamiento personalizado, podrá consultar en recepción la lista de entrenadores personales externos, de los cuales Forty-Five GYM FIT a solicitud de los mismos, registra sus datos con fines de identificación y control; en el entendido que los entrenadores externos no forman parte de la planilla de Staff de Forty-Five-GYM y el uso de sus servicios queda a entera conformidad y costa del usuario, deslindando expresamente a Forty-Five-GYM por cualquier inconveniente o daño generado en dicho servicio.</p>
  </div>
  <div>
    <b>7) Sanciones</b>
    <p>a) En caso de incumplimiento a cualquiera de los puntos antes señalados, el usuario se hará acreedor a una amonestación por escrito, en caso de reincidencia su plan se rescindirá de manera inmediata, en el entendido de que la rescisión no implica que el usuario quede eximido de las cantidades adeudadas que deba cubrir al momento de la baja por concepto de pena convencional por cancelación anticipada, y en su caso anualidad o mensualidad, según sea el caso.</p>
    <p>b) En el supuesto de cometer una falta grave la baja se dará de manera inmediata sin amonestación previa, considerando como faltas graves las siguientes:</p>
    <p>a) Agresión física o verbal en contra de otros usuarios, invitados y/o staff del gimnasio.</p>
    <p>b) Cualquier tipo de comportamiento que altere el orden y/o la operación de la unidad.</p>
    <p>c) Detectar en redes sociales fotografías o videos tomados en las instalaciones de cualquier unidad Forty-Five GYM y no cubran con lo estipulado en el presente reglamento.</p>
    <p>d) Realizar actos o tener encuentros sexuales, así como conductas de acoso hacia otros usuarios del mismo o distinto sexo o personal del staff.</p>
    <p>e) Ser sorprendido por usuarios o staff utilizando o desechando jeringas o ayudando a otro usuario a hacer uso de ellas.</p>
    <p>f) Quejas de usuarios reportando faltas de respeto a su persona, privacidad o impedir el uso de los equipos o instalaciones.</p>
    <p>g) Brindar entrenamientos personales a cualquier persona dentro de las instalaciones.</p>
    <p>h) Proporcionar a Forty-Five GYM información incorrecta para obtener la prestación de los servicios objeto del presente reglamento.</p>
  </div>
</ion-content>
