<ion-header>
  <ion-toolbar class="header">
    <ion-title class="centro">Rutina para adelgazar</ion-title>
    <ion-buttons>
      <ion-back-button class="color" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
      <b class="texto">Lunes</b>
      <b class="gym">Pecho</b>
      <ion-slides>
        <ion-slide>
         <ion-card>
          <img class="fotos"src="assets/rutinas/ejercicioPecho2.gif"/>
          <div class="card-title">Pullover con mancuerna</div>
          <div class="card-subtitle">4 series - 20 repeticiones</div>
        </ion-card>
        </ion-slide>
        <ion-slide>
          <ion-card>
          <img class="fotos"src="assets/rutinas/ejercicioPecho1.gif"/>
          <div class="card-title">Apertura</div>
          <div class="card-subtitle">4 series - 25 repeticiones</div>
        </ion-card>
        </ion-slide>
        <ion-slide>
         <ion-card>
          <img class="fotos"src="assets/rutinas/ejercicioPecho11.gif"/>
          <div class="card-title">Fondos en máquina</div>
          <div class="card-subtitle">4 series - 30 repeticiones</div>
        </ion-card>
        </ion-slide>
      </ion-slides>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <br>
        <b class="gym">Triceps</b>
        <ion-slides>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioTriceps4.gif"/>
            <div class="card-title">Copa con mancuerna</div>
            <div class="card-subtitle">4 series - 25 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioTriceps5.gif"/>
            <div class="card-title">Extensión a una mano</div>
            <div class="card-subtitle">4 series - 20 repeticiones cada brazo</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioTriceps1.gif"/>
            <div class="card-title">Extension de triceps en polea</div>
            <div class="card-subtitle">4 series - 30 repeticiones</div>
          </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
     
      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <br>
        <b class="gym">Trapecio</b>
        <ion-slides>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioHombro4.gif"/>
            <div class="card-title">Remo al mentón con barra Z</div>
            <div class="card-subtitle">4 series - 20 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioTrapecio1.gif"/>
            <div class="card-title">Remo alto con cuerda</div>
            <div class="card-subtitle">4 series - 30 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioTrapecio3.gif"/>
            <div class="card-title">Encogimientos con barra</div>
            <div class="card-subtitle">4 series - 25 repeticiones</div>
          </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
      
      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <br>
        <b class="texto">Martes</b>

        <b class="gym">Cardio</b>
        <ion-slides>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioCardio4.png"/>
            <div class="card-title">Correr</div>
            <div class="card-subtitle">30 minutos</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioCardio1.gif"/>
            <div class="card-title">Burpee</div>
            <div class="card-subtitle">4 series - 1 minuto</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioCardio2.gif"/>
            <div class="card-title">Jumping Jacks</div>
            <div class="card-subtitle">4 series - 1 minuto</div>
          </ion-card>
        </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <br>
        <b class="gym">Abdomen</b>
        <ion-slides>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioAbs6.gif"/>
            <div class="card-title">Abdomen con rueda</div>
            <div class="card-subtitle">4 series - 15 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioAbs5.gif"/>
            <div class="card-title">Russian Twist con peso</div>
            <div class="card-subtitle">4 series - 1 minuto</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioAbs1.gif"/>
            <div class="card-title">Crunch</div>
            <div class="card-subtitle">4 series - 30 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
             <img class="fotos"src="assets/rutinas/ejercicioAbs3.gif"/>
             <div class="card-title">Levantamiento de piernas</div>
             <div class="card-subtitle">4 series - 25 repeticiones</div>
           </ion-card>
           </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <br>
        <b class="texto">Miércoles</b>
        <b class="gym"> Espalda</b>
        <ion-slides>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioEspalda1.gif"/>
            <div class="card-title">Remo polea baja</div>
            <div class="card-subtitle">4 series - 12 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <img class="fotos"src="assets/rutinas/ejercicioEspalda2.gif"/>
              <div class="card-title">Polea al pecho</div>
              <div class="card-subtitle">4 series - 10 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioEspalda3.gif"/>
            <div class="card-title">Remo con barra</div>
            <div class="card-subtitle">4 series - 8 repeticiones</div>
          </ion-card>
          </ion-slide>
         
        </ion-slides>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <br>
        <b class="gym">Biceps</b>
        <ion-slides>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioBiceps2.gif"/>
            <div class="card-title">Curl en polea alta</div>
            <div class="card-subtitle">4 series - 25 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <img class="fotos"src="assets/rutinas/ejercicioBiceps3.gif"/>
              <div class="card-title">Curl concentrado</div>
              <div class="card-subtitle">4 series - 20 repeticiones cada brazo</div>
            </ion-card>
          </ion-slide>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioBiceps4.gif"/>

            <div class="card-title">Curl martillo en banco inclinado</div>
            <div class="card-subtitle">4 series - 30 repeticiones</div>
          </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <br>
        <b class="gym">Antebrazo</b>
        <ion-slides>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioAntebrazo1.gif"/>
            <div class="card-title">Curl agarre supino con barra</div>
            <div class="card-subtitle">4 series - 15 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioAntebrazo2.gif"/>
            <div class="card-title">Curl agarre prono con barra</div>
            <div class="card-subtitle">4 series - 15 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioAntebrazo3.gif"/>
            <div class="card-title">Rodillo de antebrazos</div>
            <div class="card-subtitle">4 veces</div>
          </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
      
      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <br>
        <b class="texto">Jueves</b>
        <b class="gym">Cardio</b>
        <ion-slides>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioCardio4.png"/>
            <div class="card-title">Correr</div>
            <div class="card-subtitle">30 minutos</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioCardio1.gif"/>
            <div class="card-title">Burpee</div>
            <div class="card-subtitle">4 series - 1 minuto</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioCardio2.gif"/>
            <div class="card-title">Jumping Jacks</div>
            <div class="card-subtitle">4 series - 1 minuto</div>
          </ion-card>
        </ion-slide>
        </ion-slides>
      </ion-col>

      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <br>
        <b class="gym">Abdomen</b>
        <ion-slides>
          <ion-slide>
            <ion-card>
             <img class="fotos"src="assets/rutinas/ejercicioAbs2.gif"/>
             <div class="card-title">Crunch en polea alta</div>
             <div class="card-subtitle">4 series - 30 repeticiones</div>
           </ion-card>
           </ion-slide>
           <ion-slide>
             <ion-card>
              <img class="fotos"src="assets/rutinas/ejercicioAbs4.gif"/>
              <div class="card-title">Leg raises sentado</div>
              <div class="card-subtitle">4 series - 25 repeticiones</div>
            </ion-card>
            </ion-slide>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioAbs6.gif"/>
            <div class="card-title">Abdomen con rueda</div>
            <div class="card-subtitle">4 series - 15 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioAbs5.gif"/>
            <div class="card-title">Russian Twist con peso</div>
            <div class="card-subtitle">4 series - 1 minuto</div>
          </ion-card>
          </ion-slide>
          
        </ion-slides>
      </ion-col>
      <ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <br>
        <b class="texto">Viernes</b>
        <b class="gym">Piernas</b>
        <ion-slides>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioPierna5.gif"/>
            <div class="card-title">Zancadas con mancuerna</div>
            <div class="card-subtitle">4 series - 15 repeticiones cada pierna</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <img class="fotos"src="assets/rutinas/ejercicioPierna2.gif"/>
              <div class="card-title">Extensiones</div>
              <div class="card-subtitle">4 series - 25 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioPierna3.gif"/>
            <div class="card-title"> Femoral acostado</div>
            <div class="card-subtitle">4 series - 20 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
             <img class="fotos"src="assets/rutinas/ejercicioPierna8.gif"/>
             <div class="card-title">Aductores sentado en máquina</div>
             <div class="card-subtitle">4 series - 30 repeticiones</div>
           </ion-card>
           </ion-slide>
        </ion-slides>
      </ion-col><ion-col size="12" size-sm="12" size-md="12" size-lg="12" size-xl="12">
        <br>
        <b class="gym">Hombro</b>
        <ion-slides>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioHombro5.gif"/>
            <div class="card-title">Elevaciones frontales alternas</div>
            <div class="card-subtitle">4 series - 20 repeticiones </div>
          </ion-card>
          </ion-slide>
          <ion-slide>
            <ion-card>
              <img class="fotos"src="assets/rutinas/ejercicioHombro2.gif"/>            
              <div class="card-title">Elevaciones laterales sentado</div>
              <div class="card-subtitle">4 series - 25 repeticiones</div>
          </ion-card>
          </ion-slide>
          <ion-slide>
           <ion-card>
            <img class="fotos"src="assets/rutinas/ejercicioHombro3.gif"/>            
            <div class="card-title">Pájaros sentado</div>
            <div class="card-subtitle">4 series - 15 repeticiones</div>
          </ion-card>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
