<ion-header >
  <ion-toolbar class="header">
    <img src="assets/logo/logo.png" class="center"> 
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-slides pager="true" [options]="option1" >
    <ion-slide>
      <ion-img class="image" src="assets/image/paseMamado.png"  ></ion-img>
      <ion-button (click)="Pagar()" expand="block" fill="outline" shape="round" class="boton1">Empieza a entrenar con los mejores</ion-button>
    </ion-slide>
 
  <ion-slide>
    <ion-img class="image" src="assets/image/paseMamadisimo.png"  ></ion-img>
    <ion-button (click)="PagarA()" expand="block" fill="outline" shape="round" class="boton">Empieza a entrenar con los mejores</ion-button>
   </ion-slide>

  </ion-slides>
 </ion-content>

  
  
