<ion-header >
  <ion-toolbar class="header">
    <img src="assets/logo/logo.png" class="center"> 
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-slides pager="true" [options]="option1" >
    <ion-slide>
      <ion-img class="image" src="assets/image/home1.png"  ></ion-img>
    </ion-slide>
 
  <ion-slide>
    <ion-img class="image" src="assets/image/home7.png"  ></ion-img>
    <ion-icon (click)="git1()"class="image1" name="logo-github"></ion-icon>      
    <ion-icon (click)="git2()"class="image2" name="logo-github"></ion-icon>
    <ion-icon (click)="git3()"class="image3" name="logo-github"></ion-icon>
    <ion-icon (click)="git4()"class="image4" name="logo-github"></ion-icon>
    <ion-icon (click)="git5()"class="image5" name="logo-github"></ion-icon>
    <ion-icon (click)="git6()"class="image6" name="logo-github"></ion-icon>


  </ion-slide>

  </ion-slides>

</ion-content>

