img {
    width: 60px;
    align-items: center;
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.header{
    --background:#05061d;
}
.image{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-size: cover !important;
    background-size: 100% 100%;
    position: relative;
    top: 0;
    left: 0;
}
.image1 {
    position: absolute;
    top: 89.5%;
    left: 29.5%;
}
.image2 {
    position: absolute;
    top: 89.5%;
    left: 47.5%;
}.image3 {
    position: absolute;
    top: 89.5%;
    left: 65.5%;
}.image4 {
    position: absolute;
    top: 94.5%;
    left: 29.5%;
}.image5 {
    position: absolute;
    top: 94.5%;
    left: 47.5%;
}.image6 {
    position: absolute;
    top: 94.5%;
    left: 64.8%;
}