<ion-tabs>

  <ion-tab-bar slot="bottom" style="color:#08103e;">
  <ion-tab-button tab="info">
    <ion-icon name="home-outline"></ion-icon>
    <ion-label class="color">Home</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="calendar">
    <ion-icon name="cash"></ion-icon>    
    <ion-label color="light">Pagos</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="exercises">
    <ion-icon name="barbell-outline"></ion-icon>
    <ion-label class="color">Tu Rutina</ion-label>
  </ion-tab-button>
  
  <ion-tab-button tab="maps">
    <ion-icon name="locate-outline"></ion-icon>
      <ion-label class="color">Maps</ion-label>
  </ion-tab-button>

  <ion-tab-button tab="help">
    <ion-icon name="help-outline"></ion-icon>
        <ion-label class="color">Help</ion-label>
    </ion-tab-button>
  
  </ion-tab-bar>
  </ion-tabs>